<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>EADSession4</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
     <filter>
   <filter-name>RegisterFilter</filter-name>
   <filter-class>com.filters.RegisterFilter</filter-class>
 </filter>
 <filter-mapping>
   <filter-name>RegisterFilter</filter-name>
   <url-pattern>/RegisterServlet</url-pattern>
 </filter-mapping>
 <filter>
   <filter-name>RegisterVehicleFilter</filter-name>
   <filter-class>com.filters.RegisterVehicleFilter</filter-class>
 </filter>
 <filter-mapping>
   <filter-name>RegisterVehicleFilter</filter-name>
   <url-pattern>/RegisterVehicleServlet</url-pattern>
 </filter-mapping>
 <filter>
   <filter-name>FriendFilter</filter-name>
   <filter-class>com.filters.FriendFilter</filter-class>
 </filter>
 <filter-mapping>
   <filter-name>FriendFilter</filter-name>
   <url-pattern>/FriendServlet</url-pattern>
 </filter-mapping>
 <filter>
   <filter-name>ShowFriendProfileFilter</filter-name>
   <filter-class>com.filters.ShowFriendProfileFilter</filter-class>
 </filter>
 <filter-mapping>
   <filter-name>ShowFriendProfileFilter</filter-name>
   <url-pattern>/ShowFriendProfileServlet</url-pattern>
 </filter-mapping>
 <filter>
   <filter-name>LoginFilter</filter-name>
   <filter-class>com.filters.LoginFilter</filter-class>
 </filter>
 <filter-mapping>
   <filter-name>LoginFilter</filter-name>
   <url-pattern>/LoginServlet</url-pattern>
 </filter-mapping>
 <filter>
   <filter-name>LogoutFilter</filter-name>
   <filter-class>com.filters.LogoutFilter</filter-class>
 </filter>
 <filter-mapping>
   <filter-name>LogoutFilter</filter-name>
   <url-pattern>/LogoutServlet</url-pattern>
 </filter-mapping>
 <filter>
   <filter-name>PassDetailFilter</filter-name>
   <filter-class>com.filters.PassDetailFilter</filter-class>
 </filter>
 <filter-mapping>
   <filter-name>PassDetailFilter</filter-name>
   <url-pattern>/PassDetailServlet</url-pattern>
 </filter-mapping>
 <filter>
   <filter-name>HomeFilter</filter-name>
   <filter-class>com.filters.HomeFilter</filter-class>
 </filter>
 <filter-mapping>
   <filter-name>HomeFilter</filter-name>
   <url-pattern>/HomeServlet</url-pattern>
 </filter-mapping> 
</web-app>