nav {
    position: relative;
    width: calc(100% - 60px);
    margin: 0 auto;
    padding: 10px 0;
    background: #2d3e5d;
    opacity: 0.8;
    z-index: 1;
    text-align: right;
    padding-right: 2%;
}

.logo {
    width: 15%;
    float: left;
    text-transform: uppercase;
    color: #fff;
    font-size: 25px;
    text-align: left;
    padding-left: 2%;
}

.menu-area li {
    display: inline-block;
}

.menu-area a {
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: block;
    padding: 0 25px;
    font-size: 14px;
    line-height: 30px;
    position: relative;
    /* z-index: 1; */
}

.menu-area a:hover {
    background: #4f99e2;
}

.collapsible {
    background-color: #2d3e5d;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    height: 70px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active,
.collapsible:hover {
    background-color: #75a4fc;
}

.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.content {
    padding: 0px 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #78849b;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    border-radius: 10%;
}

#employee_registration,
#vehicle_reg,
#feedback,
#pricing {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 70%;
    padding: 2%;
    border-radius: 5%;
    color: white;
    font-weight: 300;
}


/* body {
    background-image: url("car.jpg"); 
    background-color:rgb(255, 212, 155);
    background-repeat: no-repeat;
    background-size: cover;
} */

#circle {
    border: 1px solid;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    color: black;
    background-color: #b0c9f8;
}

input[type=input],
input[type=email],
input[type=password],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #75a4fc;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.price {
    border: 1px solid black;
    padding: 2%;
    width: 25%;
    margin: 10px;
    display: inline-block;
    border-radius: 10px;
}