<div class="container">
    <form #taskForm="ngForm" (ngSubmit)="onSubmit(taskForm)">
        <div class="form-group">
            <label for="title">title</label>
            <input required minlength="3" placeholder={{task.title}} maxlength="40" ngModel type="text" #title="ngModel" name="title" id="title" class="form-control" />
            <div class="alert alert-danger" *ngIf="title.touched && !title.valid">
                <div *ngIf="title.errors.required">title is required</div>
                <div *ngIf="title.errors.minlength">min length is 5</div>
                <div *ngIf="title.errors.maxlength">max length is 40</div>
            </div>
        </div>
        <div class="form-group">
            <label for="description">description</label>
            <input required minlength="3" placeholder={{task.description}} maxlength="200" ngModel #description="ngModel" name="description" type="text" id="description" class="form-control" />
            <div class="alert alert-danger" *ngIf="description.touched && !description.valid">
                <div *ngIf="description.errors.required">Description is required</div>
                <div *ngIf="description.errors.minlength">Min length is 5</div>
                <div *ngIf="description.errors.maxlength">Max length is 200</div>
            </div>
        </div>
        <div class="form-group">
            <label for="status">Select status:</label>
            <select class="form-control" id="status" title="status" ngModel #status="ngModel" name="status">
                    <option value="new" >New</option>
                    <option value="inProcess">In Process</option>
                    <option value="completed">Completed</option>
                </select>
        </div>
        <div class="form-group">
            <label for="priority">Select priority:</label>
            <select class="form-control" id="priority" title="priority" ngModel #status="ngModel" name="priority">
                    <option value="low">Low</option>
                    <option value="medium">Medium</option>
                    <option value="high">High</option>
                </select>
        </div>
        <button class="btn btn-primary" type="submit"> Submit</button>
    </form>
</div>